---
import Layout from "../layouts/Layout.astro";
import AssistantChat from "../components/chat/AssistantChat";
---

<Layout title="Chat with our email model">
  <div>
    <AssistantChat client:only="react" />
  </div>
</Layout>
